* {
  -border: solid 1px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: all .5s;
  padding: 0px;
  margin: 0px;
}

ul, li, a, div, p {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 480px;
}

.majorPic {
  width: 100%;
  height: auto;
  position: relative;
}

.majorPic img {
  width: 100%;
  height: auto;
}

.exchange {
  height: 100px;
  width: 480px;
  background-color: pink;
  display: inline-block;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}

.confirm {
  width: 440px;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -125px;
  display: none;
}

.confirm_display {
  display: block;
}

.confirm img {
  width: 100%;
}

.confirm_OK {
  position: absolute;
  background-color: black;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 125px;
  cursor: pointer;
  opacity: 0;
}

.count {
  height: 100px;
  width: 480px;
  background-color: pink;
  text-align: center;
  line-height: 100px;
}

.count p {
  display: inline-block;
}

.unit {
  height: 50px;
  width: 50px;
  background-color: pink;
  color: #000;
  font-size: 30px;
  font-family: Microsoft JhengHei;
}
