* {
  -border: solid 1px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: all .5s;
  padding: 0px;
  margin: 0px;
}

ul, li, a, div, p {
  padding: 0px;
  margin: 0px;
}
.container{
  width:480px;
}

.majorPic{
  width: 100%;
  height: auto;

}
.majorPic img{
  width: 100%;
  height: auto;
}
.exchange{
  height: 100px;
  width: 480px;
  background-color: white;
  display: inline-block;
  position: absolute;
  bottom:0;
}
.confirm{
  width:440px;
  position: absolute;
  top:0;
  
}
.confirm img{
  width: 100%;
}
